@-webkit-keyframes anima1 {
	0% {opacity: 0.5; margin-left: 100px;}
	100% {opacity: 1; margin-left: -180px; }
}

@-webkit-keyframes anima2 {
	0% {opacity: 0.5; margin-left: -100px;}
	100% {opacity: 1; margin-left: 180px; }
}


@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.box-main {width: 100%;
			height: 100%;
			background-color: black;
			}

.head {display: flex;}

.head1 {width: 50%}

h1 {font-family: 'Black Han Sans', sans-serif;
	padding-top:5%;
	font-size: 70px;
	text-align:center;
	color: white;}

.poster {width: 23%;
		left:13%;
		top: 25%;
		position: absolute;}

.poster { animation-name:anima1;
				animation-duration: 4s;
				animation-iteration-count: infinite;
				animation-delay: 0s;
		}

.text0 {width: 23%;
		left:13%;
		top: 25%;
		position: absolute;

		animation-name:anima2;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-delay: 0s;}

.text1 {background-color: ;
		width: 20%;
		height: 30%;
		left:52%;
		top: 25%;
	   	position: absolute;}

p {font-family: 'Do Hyeon', sans-serif;
	text-align: center;
	color: white;
	padding-top: 20%;}

.box1 {
    transition-duration: 2s;
}
.box1:hover {
      transform: translateX(-250px)
}

.box1 {background-color: black;
		width: 20%;
		left:52%;
		top: 25%;
	   	position: absolute;}

.text2 {background-color: ;
		width: 20%;
		height: 30%;
		left:75%;
		top: 25%;
	   	position: absolute;}

.box2:hover{
    transform: rotateX(90deg);
}
.box2 {background-color: black;
		width: 20%;
		left: 75%;
		top: 25%; 
	   	position: absolute;
	   transition-duration: 0.5s;}

.text3 {width: 20%;
		height: 30%;
		left:52%;
		top: 60%; 
	   	position: absolute;}

.box3 {background-color: black;
		width: 20%;
		left:52%;
		top: 60%; 
	   	position: absolute;
	   	transition-duration: 1s;}

.box3:hover { transform: skew(45deg, 45deg);}

.text4 {width: 20%;
	height: 30%;
		left:75%;
		top: 60%; 
	   	position: absolute;}

.box4 {background-color: black;
		width: 20%;
		left:75%;
		top: 60%; 
	   	position: absolute;
	   	transition-duration: 0.2s;}

.box4:hover {transform: translateY(250px)}






	/*
	position: relative;상대값 
	position: absolute;절대값
	position: fixed; 고정